<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Information System</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body class="font-mono bg-gray-400">

  <nav class="flex items-center bg-gray-800 p-3 flex-wrap">
    <a href="/" class="px-4 mr-4 inline-flex items-center">
      <span class="text-xl text-white font-bold uppercase tracking-wide">Students Information System</span>
    </a>
    <button class="text-white inline-flex p-3 hover:bg-gray-900 rounded lg:hidden ml-auto hover:text-white outline-none nav-toggler" data-target="#navigation">
      <i class="material-icons">menu</i>
    </button>
    <div class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto" id="navigation">
      <div class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start  flex flex-col lg:h-auto">
        <a href="/students" class="lg:inline-flex lg:w-auto w-full px-4 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white">
          <span>Students</span>
        </a>
        <a href="/courses" class="lg:inline-flex lg:w-auto w-full px-4 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white">
          <span>Courses</span>
        </a>
        <a href="/colleges" class="lg:inline-flex lg:w-auto w-full px-4 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white">
          <span>Colleges</span>
        </a>
      </div>
    </div>
  </nav>

                  <!-- Addstudent form -->
                  {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                  <div class="container mx-auto">
                    {% for category, message in messages %}
                    <div class="{{ 'bg-red-500 text-white' if category == 'error' else 'bg-green-500 text-white' }} px-10 py-3 mb-3 rounded flex justify-between items-center" role="alert">
                      <span>{{ message }}</span>
                      <button type="button" class="text-white hover:text-gray-300 focus:outline-none focus:shadow-outline" aria-label="Close" onclick="this.parentElement.style.display='none';">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    {% endfor %}
                  </div>
                  {% endif %}
                  {% endwith %}

                  <!-- Container -->
                  <div class="container mx-auto">
                    <div class="flex justify-center px-6 my-12">
                      <!-- Row -->
                      <div class="w-full xl:w-3/4 lg:w-11/12 flex">
                        <!-- Col -->
                        <div class="w-full h-auto bg-gray-400 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg" style="background-image: url('/static/students.png')"></div>
                        <!-- Col -->
                        <div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none">
                          <h3 class="pt-4 text-2xl text-center">Add Student!</h3>

                          <form class="px-8 pt-6 pb-8 mb-4 bg-white rounded flex flex-col justify-center items-center" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            
                            <!-- Student Image -->
                            <!-- Student Image -->
                            <div id="student_image_container" class="mb-4 w-48 h-48 object-cover mx-auto rounded-full">
                              <img id="student_info_image" src="{{ "https://res.cloudinary.com/djhcfxw9q/image/upload/v1701936979/ssisV3/bkpqhvcsa1c3tuamc0zm.jpg" }}" alt="{{ id }}" class="w-48 h-48 object-cover mx-auto rounded-full">
                            </div>

                            
                            <!-- File Input and Upload Button -->
                            <div class="form-group text-center space-y-2">
                              <input id="image_url" type="text" name="image_url" value="https://res.cloudinary.com/djhcfxw9q/image/upload/v1701936979/ssisV3/bkpqhvcsa1c3tuamc0zm.jpg" hidden>
                              <input type="file" id="file-input" accept="image/*" hidden>
                              <p class="block mb-2 text-sm font-bold text-gray-700"> Accepted Image Type: JPG, JPEG, PNG; Maximum Size: 1MB</p>
                              <button id="file-button" type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mx-auto mt-4">Upload Image</button>
                              
                            </div>
                            
                            <!-- Other Form Fields -->
                            <div class="mb-4 md:flex md:justify-between">
                              <div class="mb-4 md:mr-2 md:mb-0">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="id">Student ID</label>
                                <input class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" id="id" type="text" placeholder="YYYY-NNNN" name="id" />
                              </div>
                            </div>
                            <div class="mb-4 md:flex md:justify-between">
                                <div class="mb-4 md:mr-2 md:mb-0">
                                    <label class="block mb-2 text-sm font-bold text-gray-700" for="firstname">
                                        First Name
                                    </label>
                                    <input
                                        class="px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                        id="firstname"
                                        type="text"
                                        placeholder="First Name"
                                        name = "firstname"
                                    />
                                </div>
                            </div> 
                            <div class="mb-4 md:flex md:justify-between">
                              <div class="mb-4 md:mr-2 md:mb-0">
                                  <label class="block mb-2 text-sm font-bold text-gray-700" for="lastname">
                                      Last Name
                                  </label>
                                  <input
                                      class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                      id="lastname"
                                      type="text"
                                      placeholder="Last Name"
                                      name = "lastname"
                                  />
                              </div>
                          </div> 
                          <div class="mb-4 md:flex">
                            <div class="flex-1 mb-4 md:mr-2 md:mb-0">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="gender">
                                    Gender
                                </label>
                                <select class="px-10 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" id="gender" name="gender">
                                    <option value="Female">Female</option>
                                    <option value="Male">Male</option>
                                </select>
                            </div>
                            <div class="flex-1 mb-2">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="yearlevel">Year</label>
                                <select class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" id="yearlevel" name="yearlevel">
                                    <option value="1">1st</option>
                                    <option value="2">2nd</option>
                                    <option value="3">3rd</option>
                                    <option value="4">4th</option>
                                </select>
                            </div>
                        </div>
                        
                            
                        <div class="md:mb-1">
                          <label class="block mb-2 text-sm font-bold text-gray-700" for="coursecode">Coursecode</label>
                          <select
                              class=" px-10 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                              id="coursecode"
                              name="coursecode"
                          >
                              <option value="">Select a course</option>
                              {% for course in courses %}
                                  <option value="{{ course.coursecode }}">{{ course.coursecode }}</option>
                              {% endfor %}
                          </select>
                      </div>
                  
                    
                          <div class="my-4 text-center">
                            <button class="h-10 px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                                type="submit">Add Student</button>
                                <a href="/students" class="h-10 px-4 py-2 font-bold text-white bg-red-500 rounded-full hover:bg-red-700 focus:outline-none focus:shadow-outline">Cancel</a>
                            
                          </div>
            </form>

            <script>
              const fileInput = document.getElementById('file-input');
              const fileButton = document.getElementById('file-button');
              const imagePreview = document.getElementById('student_info_image');
              const imageUrlInput = document.getElementById('image_url');
              const imagePreviewContainer = document.getElementById('student_image_container')
              const maxSize = 1024 * 1024; // 1MB
      
              fileButton.addEventListener('click', () => {
                  fileInput.click();
              });
          
              fileInput.addEventListener('change', async () => {
                  try {
                      const selectedFile = fileInput.files[0];
          
                      // Check file size
                      if (selectedFile.size > maxSize) {
                          alert('File size exceeds 1MB. Please choose a smaller file.');
                          return;
                      }
          
                      // Check file type
                      const allowedTypes = ['image/jpeg', 'image/jpg', 'image/png'];
                      if (!allowedTypes.includes(selectedFile.type)) {
                          alert('Invalid file type. Please choose a JPG, JPEG, or PNG file.');
                          return;
                      }
          
                      const formData = new FormData();
                      formData.append("file", selectedFile);
                      formData.append("csrf_token", "{{csrf_token()}}");
          
                      const response = await fetch("{{url_for('student.upload_to_cloudinary')}}", {
                          method: 'POST',
                          body: formData
                      });
          
                      const data = await response.json();
          
                      if (data && data.is_success) {
                          const img = document.createElement("img");
                          img.id = 'student_info_image';
                          img.alt = "New Image Photo";
                          img.src = data.url;
          
                          imagePreviewContainer.innerHTML = '';
                          imagePreviewContainer.appendChild(img);
          
                          imageUrlInput.value = data.url;
                      } else {
                          console.error("Upload failed:", data);
                      }
                  } catch (error) {
                      console.error("An error occurred:", error);
                  }
              });
          </script>
            
          </div>
        </div>
      </div>
    </div>

  </body>
  

      
          
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
      <script>
        $(document).ready(function() {
        $(".nav-toggler").each(function(_, navToggler) {
          var target = $(navToggler).data("target");
          $(navToggler).on("click", function() {
            $(target).animate({
              height: "toggle"
            });
          });
        });
      });



      
      </script>
      </body>



</html>