{% extends 'base.html' %}
{% block navigation %}
<div class="h-full flex justify-center p-2 lg:ml-20">
  <a href="addcourses.html" class="flex self-center p-2 border-2 border-teal-400 text-slate-400 cursor-pointer rounded-md hover:bg-teal-500 hover:text-slate-900 justify-center items-center"><span class="font-bold animate-bounce duration-900">+</span><span class="hidden lg:flex"> Add </span> Courses</a>
</div>
  <a
    href="/students"
    class="lg:inline-flex lg:w-auto w-full px-4 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
  >
    <span>Students</span>
 
  <a
    href="/colleges"
    class="lg:inline-flex lg:w-auto w-full px-4 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
  >
    <span>Colleges</span>
</a>
{% endblock %}
{% block content %}
<main class="overflow-auto w-full h-full p-10 fixed mt-20 self-center mx-auto text-teal-500">
    
  <table class="min-w-full text-left text-sm font-light">
      <thead class="border-b font-medium dark:border-neutral-500">
          <tr class="border-b transition duration-300 ease-in-out  dark:border-teal-500">
              <th class="whitespace-nowrap px-6 py-4 font-medium">Code</th>
                  <th class="whitespace-nowrap px-6 py-4">Name</th>
                  <th class="whitespace-nowrap px-6 py-4">College</th>
                  <th class="whitespace-nowrap px-6 py-4">Edit</th>
                <th class="whitespace-nowrap px-6 py-4">Delete</th>
            </tr>
      </thead>
      <tbody id="rowContainer">       
      </tbody>
    </table>
{% endblock %}