<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information System</title>
    <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }}>
</head>
<body class="background-image">
    <div class="landing-page">
        <h1>Welcome to the Student Information System</h1>
        <p>Efficiently manage your students important information.</p>
        <button class="cta-button" onclick="showModal()" id="getStarted">Get Started</button>
        
    </div>

    <!-- Start of the popup modal code -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="icon-container">
                <a href="/students"><img src="static/student.png" alt="students" class="student"></a>
                <a href="/courses"><img src="static/courses.png" alt="courses" class="courses"></a>
                <a href="/colleges"><img src="static/college.png" alt="college" class="college"></a>
            </div>
        </div>
    </div>
    <!-- End of the popup modal code -->
    <script src="static/script.js"></script>
   </body>
</html>