{% extends 'base.html' %}
{% block navigation %}

<form method="POST" action="/students/search">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="pt-2 relative mx-auto text-gray-600 ">
      <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none" type="search"  name="studentsearch" placeholder="Search Student">
      <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
          <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" width="512px" height="512px">
          <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
          </svg>
      </button>
    </div>
</form>
<div class="h-full flex justify-center p-2 lg:ml-20">
  <a href="/addstudent" class="flex self-center p-2 border-2 border-teal-400 text-slate-400 cursor-pointer rounded-md hover:bg-teal-500 hover:text-slate-900 justify-center items-center"><span class="font-bold animate-bounce duration-900">+</span><span class="hidden lg:flex">Add </span> Student</a>
</div>
<a href="/courses" class="lg:inline-flex lg:w-auto w-full px-4 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white">
  <span>Courses</span>
</a>
<a href="/colleges" class="lg:inline-flex lg:w-auto w-full px-4 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white">
  <span>Colleges</span>
</a>
{% endblock %}
{% block content %}

<main class= "h-screen scroll-smooth w-full p-10 self-center mx-auto text-black text-8xl  scrollbar-hide-webkit">
    <table class="min-w-full text-left text-sm font-light">
        <thead class="border-b font-medium dark:border-neutral-500 sticky top-0 bg-white">
            <tr class="border-b transition duration-300 ease-in-out  dark:border-teal-500">
                <th class="whitespace-nowrap px-6 py-4 font-medium">Profile</th>
                <th class="whitespace-nowrap px-6 py-4 font-medium">ID</th>
                <th class="whitespace-nowrap px-6 py-4">First Name</th>
                <th class="whitespace-nowrap px-6 py-4">Last Name</th>
                <th class="whitespace-nowrap px-6 py-4">Gender</th>
                <th class="whitespace-nowrap px-6 py-4">Course</th> 
                <th class="whitespace-nowrap px-6 py-4">Year</th>
                <th class="whitespace-nowrap px-6 py-4">College</th>
                <th class="whitespace-nowrap px-6 py-4">Edit</th>
                <th class="whitespace-nowrap px-6 py-4">Delete</th>
              </tr>
        </thead>
        <tbody id="rowContainer">  
        {% for student in students %}      
            <tr class="hover:bg-gray-200">
              <td>
                <div class="w-14 h-14 rounded-full overflow-hidden">
                    <img id="student_image" src="{{ student.image_url or 'https://res.cloudinary.com/djhcfxw9q/image/upload/v1701936979/ssisV3/bkpqhvcsa1c3tuamc0zm.jpg' }}" alt="{{ student.id }}" class="w-full h-full object-cover">
                </div>
              </td>
              <td class="text-base font-semibold px-6 py-4">{{student.id}}</td>
              <td class="text-base font-normal px-6 py-4">{{student.firstname}}</td>
              <td class="text-base font-normal px-6 py-4">{{student.lastname}}</td>
              <td class="text-base font-normal px-6 py-4">{{student.gender}}</td>
              <td class="text-base font-normal px-6 py-4">{{student.coursecode}}</td>
              <td class="text-base font-normal px-6 py-4">{{student.yearlevel}}</td>
              <td class="text-base font-normal px-6 py-4">{{student.college_info}}</td>
             
              <td>
                <form action="/editstudent" method="get">
                  <input type="hidden" name="student_id" value="{{ student.id }}">
                  <input type="hidden" name="first_name" value="{{ student.firstname }}">
                  <input type="hidden" name="last_name" value="{{ student.lastname }}">
                  <input type="hidden" name="course_code" value="{{ student.coursecode }}">
                  <input type="hidden" name="year_level" value="{{ student.yearlevel }}">
                  <input type="hidden" name="gender" value="{{ student.gender }}">
                  <input type="hidden" name="colleges" value="{{ student.college_info }}">
                  <button type="submit" class="h-10 px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline">Edit</button>
                </form>
              </td>
              <td><button type="button" class="h-10 px-4 py-2 font-bold text-white bg-red-500 rounded-full hover-bg-red-700 focus:outline-none focus:shadow-outline"
                id="delete_student" student-id="{{ student.id }}" csrf-token="{{ csrf_token() }}" onclick="deleteStudent(this)">
                   Delete
              </button>
    
            </tr>

        {% endfor %}         
        </tbody>

        
      </table>
{% endblock %}